<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_pack_tag "vue_app", media: "all" %>
    <%= javascript_pack_tag "export" %>
  </head>
  <body class="view-<%= controller_name.parameterize %>-<%= action_name.parameterize %>">
    <div id="app">
    </div>
  </body>
</html>
